.wrapperHocItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapperHocItem {
  font-size: 10px;
}

.sortWrapperHoc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}